 body{
    height: 100vh;
    background: linear-gradient(to right, white 50%, green 50%);
}

.photo2{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    border: 5px solid rgb(245, 245, 245);
} 

.box{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: gray;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(245, 245, 245);
}